<div class="layout" id="app">
    <form action="/Home/Room" method="get">
        <input name="userName" placeholder="please input username" required />
        <input name="roomID" placeholder="please input room name" />
        <input value="enter room" type="submit" />
    </form>
</div>
